<div class="container">
  <div class="jumbotron">
    <td><%= @event.name %></td>
    <td><%= "on" %></td>
    <td><%= @event.date %></td>
    <td>
      <ul>
				<% @event.artists.each do |artist| %></td>
					<li><%= artist.name %></li>
				<% end %>
      </ul>
    </td>
  </div>
</div>
